    <%- include("partials/header.ejs") %>
    <div class="first-slide">
        <div class="first-text">
            <h1>Revolutionizing Automation for Smart Homes and Industries</h1>
            <h2>Elevate your residential and industrial spaces to the cutting edge of smart automation with our expertise.</h2>
        </div>
        <div class="video-container">
            <video width="100%" height="100%" autoplay loop muted>
                <source src="/videos/video-1.mp4" type="video/mp4"/>
                Might be your browser</video>
        </div>
        <div class="second-text">
            <div class="des"><h1>Effortless Remote Control and Voice assistance support</h1></div>
            <div class="des"><h1>Economy Friendly and Real time data Acessable </h1></div>
            <div class="des"><h1>Adaptive AI</h1></div>
            <div class="des"><h1>Powered by Renewable and Sustainability Energy</h1></div>    
        </div>
    </div>

    <div class="who-we-are">
        <div class="first-half">
            <h1 class="des1">Who We Are </h1>
            <p class="des2">We are a forefront of technological innovation. We excel in crafting AI SMART homes and Industrial automation that incorporate advanced automation, allowing for seamless remote management and AI assistance. Our emphasis on remarkable energy efficiency, adaptive AI capabilities, health monitoring features, and robust security measures sets us apart. These innovations are powered by sustainable energy sources like solar and turbines, and our overarching mission is to transform the way people experience and embrace cutting-edge, sustainable living solutions with Renewable energy.</p>
        </div>
        <div class="second-half">
            <img src="/images/who-we-are.jpg">
        </div>
    </div>

    <div class="third-slide">
        <div class="why-heading">
            <h1>Why Choose Wesli ?</h1>
        </div>
        <div class="why-content">
            <div class="row1">
                <div class="why">
                    <i class='bx bx-brain' ></i>
                    <h2>Smart and Sustainable Homes</h1>
                    <h3>At Wesli Innovations, we use cutting-edge technology to create homes that are not only smart but also sustainable. Our AI homes are designed to reduce energy consumption, save you money, and help the environment.</h2>
                </div>
                <div class="why">
                    <i class='bx bx-customize'></i>
                    <h2>Customized Solutions</h1>
                    <h3>We believe that every home and Industries are unique, and so are its needs. That's why we provide customized solutions to meet the specific requirements of your home or Industries. Our team of experts will work with you to create a smart home that fits your lifestyle and budget with adaptive AI.</h2>
                </div>
            </div>
            <div class="row2">
                <div class="why">
                    <i class='bx bx-star' ></i>
                    <h2>High-Quality Materials</h1>
                    <h3>We use only the best materials to ensure that your smart home is durable and of the highest quality. Our products are designed to last and withstand the test of time.</h2>
                </div>
            <div class="why">
                <i class='bx bx-planet' ></i>
                <h2>Expert Advisors</h1>
                <h3>Our team of experienced advisors will guide you through every step of the process, from consultation to installation. We are committed to providing excellent customer service and ensuring that you are satisfied with our products and services.</h2>
            </div>
            </div>
        </div> 
    </div>

    <div class="speciality-images">
        <div class="spec-title">
            <h1>Experience the future of living</h1>
        </div>
        <div class="spec-content">
            <div class="spec">
                <img src="./images/smart-home.jpg">
                <p>Smart Homes</p>
            </div>
            <div class="spec">
                <img src="./images/industrial-automation.jpg">
                <p>Industrial Automation</p>
            </div>
            <div class="spec">
                <img src="./images/adaptive-ai.jpg">
                <p>Adaptive AI</p>
            </div>
            <div class="spec">
                <img src="./images/renewable-energy.jpg">
                <p>Renewable and Sustainable Energy</p>
            </div>
            <div class="spec">
                <img src="./images/smart-home.jpg">
                <p>Smart Homes</p>
            </div>
            <div class="spec">
                <img src="./images/industrial-automation.jpg">
                <p>Industrial Automation</p>
            </div>
            <div class="spec">
                <img src="./images/adaptive-ai.jpg">
                <p>Adaptive AI</p>
            </div>
            <div class="spec">
                <img src="./images/renewable-energy.jpg">
                <p>Renewable and Sustainable Energy</p>
            </div>
        </div> 
    </div>

    <!-- <div class="customer-opinion">
        <div class="opinion-title">
            <h1>Testimonials</h1>
        </div>
        <div class="opinion-list">
            <div class="review">
                <div class="customer-heading">
                    <img src="./images/Testimonial.jpg">
                    <div class="details">
                        <h6>Manager</h6> 
                        <h3>Mohan</h3>
                        <h5>Taco Bells</h5>
                    </div>
                </div> 
                <p><div class="opening-comma">❝</div> Wesli has made my home really cool and eco-friendly. I'm surprised by how much less money I have to pay for electricity now. <div class="closing-comma">❞</div></p>  
            </div>
            <div class="review">
                <div class="customer-heading">
                    <img src="./images/Testimonial 1.jpg">
                    <div class="details">
                        <h6>Entrepreneur</h6> 
                        <h3>Satish</h3>
                        <h5>Gym Fitness</h5>
                    </div>
                </div> 
                <p><div class="opening-comma">❝</div>Wesli Innovations did an amazing job turning my gym into a smart gym with solar power and more. They provided great service and went above and beyond what I expected. I really think you should give them a try!<div class="closing-comma">❞</div></p>  
            </div>
            <div class="review">
                <div class="customer-heading">
                    <img src="./images/sachine.jpg">
                    <div class="details">
                        <h6>Entrepreneur</h6> 
                        <h3>Sachin</h3>
                        <h5>Taco Bells</h5>
                    </div>
                </div> 
                <p><div class="opening-comma">❝</div>I'm thrilled with my new smart home. Thanks to Wesli Innovations, taking care of my elderly parents and monitoring our home has become hassle-free, especially since I now live out of town. Thank you!<div class="closing-comma">❞</div></p>  
            </div>
            <div class="review">
                <div class="customer-heading">
                    <img src="./images/Testimonial.jpg">
                    <div class="details">
                        <h6>Manager</h6> 
                        <h3>Mohan</h3>
                        <h5>Taco Bells</h5>
                    </div>
                </div> 
                <p><div class="opening-comma">❝</div>Wesli has made my home really cool and eco-friendly. I'm surprised by how much less money I have to pay for electricity now.<div class="closing-comma">❞</div></p>  
            </div>
            <div class="review">
                <div class="customer-heading">
                    <img src="./images/Testimonial.jpg">
                    <div class="details">
                        <h6>Manager</h6> 
                        <h3>Mohan</h3>
                        <h5>Taco Bells</h5>
                    </div>
                </div>  
                <p><div class="opening-comma">❝</div>Wesli has made my home really cool and eco-friendly. I'm surprised by how much less money I have to pay for electricity now.<div class="closing-comma">❞</div></p>  
            </div>
            <div class="review">
                <div class="customer-heading">
                    <img src="./images/Testimonial 1.jpg">
                    <div class="details">
                        <h6>Entrepreneur</h6>
                        <h3>Satish</h3>
                        <h5>Gym Fitness</h5>
                    </div>
                </div> 
                <p><div class="opening-comma">❝</div>Wesli Innovations did an amazing job turning my gym into a smart gym with solar power and more. They provided great service and went above and beyond what I expected. I really think you should give them a try!<div class="closing-comma">❞</div></p>  
            </div>
            <div class="review">
                <div class="customer-heading">
                    <img src="./images/sachine.jpg">
                    <div class="details">
                        <h6>Entrepreneur</h6> 
                        <h3>Sachin</h3>
                        <h5>Taco Bells</h5>
                    </div>
                </div> 
                <p><div class="opening-comma">❝</div>I'm thrilled with my new smart home. Thanks to WESLI INNOVATIONS, taking care of my elderly parents and monitoring our home has become hassle-free, especially since I now live out of town. Thank you!<div class="closing-comma">❞</div></p>  
            </div>
            <div class="review">
                <div class="customer-heading">
                    <img src="./images/Testimonial.jpg">
                    <div class="details">
                        <h6>Manager</h6> 
                        <h3>Mohan</h3>
                        <h5>Taco Bells</h5>
                    </div>
                </div> 
                <p><div class="opening-comma">❝</div>Wesli has made my home really cool and eco-friendly. I'm surprised by how much less money I have to pay for electricity now.<div class="closing-comma">❞</div></p>  
            </div>
        </div>
    </div> -->

    <!-- <div class="faq">
        <h1>FAQ</h1>
    </div> -->


    <%- include("partials/footer.ejs") %>


