.title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.search-bar{
    border-radius: 30px;
    padding: 10px;
    margin-right: 30px;
    width: 300px;
}

.content{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    width: 100%;
}
.left-pane{
    width: 30%;
    border: red 1px solid;
    box-sizing: border-box;
    color: white;
    padding: 10px;
}

.right-pane{
    width: 70%;
    border: blue 1px solid;
    box-sizing: border-box;
    color: white;
}

.hidden {
    display: none;
}

.left-pane .product:hover + .models {
    display: block;
}

.models .model:hover ~ .voltage {
    display: block;
}

.models, .voltage {
    margin-left: 20px;
    color: #ccc;
}

.models .model {
    cursor: pointer;
}

.right-pane .voltage {
    color: yellow;
    font-size: 18px;
}
